<nav class="tabs">
  <div class="ul" class="-primary">
    <div class="li"><a href="#">Falkenberg</a></div>
    <div class="li"><a href="#">Braga</a></div>
    <div class="li"><a href="#">Stockholm</a></div>
    <div class="li"><a href="#">Trnava</a></div>
    <div class="li"><a href="#">Plovdiv</a></div>
    <div class="li"><a href="#">Klaipeda</a></div>
    <div class="li"><a href="#">Punta Cana</a></div>
    <div class="li"><a href="#">Lisban</a></div>
    <div class="li"><a href="#">ABC</a></div>
    <div class="li"><a href="#">DEF</a></div>
    <div class="li"><a href="#">GHI</a></div>
    <div class="li"><a href="#">JKL</a></div>
    <div class="li"><a href="#">MNO</a></div>
    <div class="li"><a href="#">PQR</a></div>
    <div class="li"><a href="#">STU</a></div>
    <div class="li"><a href="#">VWXYZ</a></div>
  </div>
</nav>