<div style="padding: 25px">
  <h2>Route 2 works!</h2>
  <p>DEMO bridges-mat-tab-group</p>
  <bridges-mat-tab-group>
    <bridges-mat-tab [label]="'Tab A'">Tab A content</bridges-mat-tab>
    <bridges-mat-tab [label]="'Tab B'">Tab B content</bridges-mat-tab>
    <bridges-mat-tab [label]="'Tab C Disabled'" [disabled]="true"
      >C content</bridges-mat-tab
    >
    <bridges-mat-tab [label]="'Tab D'">Tab D content</bridges-mat-tab>
    <bridges-mat-tab [label]="'Tab E'">Tab E content</bridges-mat-tab>
    <bridges-mat-tab [label]="'Tab F'">Tab F content</bridges-mat-tab>
    <bridges-mat-tab [label]="'Tab G'">Tab G content</bridges-mat-tab>
    <bridges-mat-tab [label]="'Tab H'">Tab H content</bridges-mat-tab>
  </bridges-mat-tab-group>
</div>
