<div class="accg-tab" style="width: 80%">
  <mat-tab-group [disablePagination]="true">
    <mat-tab label="First tab"> 1 </mat-tab>
    <mat-tab label="Second tab"> 2 </mat-tab>
    <mat-tab label="Third tab"> 3 </mat-tab>
    <mat-tab label="Fourth tab"> 4 </mat-tab>
    <mat-tab label="Fifth tab"> 5 </mat-tab>
    <!-- <mat-tab label="Sixt tab"> 6 </mat-tab>
    <mat-tab label="Seventh tab"> 7 </mat-tab>
    <mat-tab label="Eight tab"> 8 </mat-tab>
    <mat-tab label="Ninth tab"> 9 </mat-tab>
    <mat-tab label="Tenth tab"> 10 </mat-tab> -->
  </mat-tab-group>
</div>
