<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- End Checkbox Column -->

  <!-- All DisplayedColumns -->
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container
      *ngIf="column.identifier !== 'select'"
      [matColumnDef]="column.identifier"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[column.identifier] }}
      </td>
    </ng-container>
  </ng-container>
  <!-- End DisplayedColumns -->

  <tr mat-header-row *matHeaderRowDef="displayedIdentifiers"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedIdentifiers"
    (click)="selection.toggle(row)"
  ></tr>
</table>
